.extension-card {
    min-width: 300px;
    max-width: 380px;
    height: 200px;
    margin: 5px;
    padding: 12px 18px 18px;
    border-radius: 15px;
    background-color: hsl(226, 25%, 17%);
    border: solid 1px hsl(226, 11%, 37%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9em;
}

.card-data {
    display: flex;
    gap: 10px;
    margin-bottom: 40px;
}

.extension-data h1 {
    margin-bottom: 5px;
}

.extension-data p {
    color: hsl(0, 0%, 78%);
}

.card-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-remove {
    background-color: hsl(226, 25%, 17%);
    border: solid 1px hsl(226, 11%, 37%);
    width: 90px;
    border-radius: 20px;
    font-size: 1.2em;
    color: hsl(200, 60%, 99%);
}