button {
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: hsl(226, 11%, 37%);
    }
}

