.list-header {
    margin: 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.filters .filter-button {
    font-size: 1.2em;
    width: auto;
    padding: 5px 18px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;

    &.dark {
        background-color: hsl(225, 23%, 24%);
        border: solid 1px hsl(226, 11%, 37%);
        color: hsl(200, 60%, 99%);

        &:hover {
            background-color: hsl(226, 11%, 37%);
        }

        &.selected {
            background-color: hsl(3, 86%, 64%);
            color: hsl(225, 23%, 24%);

            &:hover {
                background-color: hsl(3, 71%, 56%);
            }
        }
    }

    &.light {
        background-color: hsl(200, 60%, 99%);
        border: solid 1px hsl(0, 0%, 78%);
        color: hsl(227, 75%, 14%);

        &:hover {
            background-color: hsl(0, 0%, 93%);
        }

        &.selected {
            background-color: hsl(3, 86%, 64%);
            color: hsl(200, 60%, 99%);

            &:hover {
                background-color: hsl(3, 71%, 56%);
            }
        }
    }
}

.list-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

@media (max-width: 750px) {
    .list-header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .filters .filter-button {
        font-size: 1em;
    }
}