.list-header {
    margin: 30px 0px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.filters button{
    font-size: 1.2em;
    width: auto;
    padding: 5px 18px;
    margin: 5px;
    border-radius: 25px;
    background-color: hsl(225, 23%, 24%);
    border: solid 1px hsl(226, 11%, 37%);
    color: hsl(200, 60%, 99%);
    cursor: pointer;

    &:hover {
        background-color: hsl(226, 11%, 37%);
    }
    
    &.selected {
        background-color: hsl(3, 86%, 64%);
        color: hsl(225, 23%, 24%);
    }
}

.list-container ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}
